<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Z's Escape</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="static/icon.png">
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>
	<body>
		<!-- In the user coordinate system of the svg element, (0, 10000) will
		always be the bottom-left corner, and (1000, 10000) will always be the
		bottom-right corner. Assuming the element's height is less than 10 times
		the width, the top of the element will be sliced off. -->
		<svg id="canvas" viewbox="0 0 1000 10000"
		preserveAspectRatio = "xMidYMax slice"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink">
			<use x="0" y="10000" xlink:href="static/shapes.svg#building" id="building"/>
			<use x="800" y="9950" xlink:href="static/shapes.svg#logo" id="logo"/>
			<use x="500" y="9800" xlink:href="static/shapes.svg#platform" id="platform"/>
			<use x="500" y="9723.89537987" xlink:href="static/shapes.svg#Z" id="Z"/>
		</svg>
	</body>
	<script src="static/script.js"></script>
</html>