<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Z's Escape</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="static/icon.png">
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>
	<body>
		<!-- In the user coordinate system of the svg element, (0, 10000) will
		always be the bottom-left corner, and (1000, 10000) will always be the
		bottom-right corner. Assuming the element's height is less than 10
		times the width, the top of the element will be sliced off. -->
		<svg id="canvas" viewbox="0 0 1000 10000"
		preserveAspectRatio = "xMidYMax slice"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink">
			<rect x="0" y="0" width="1000" height="10000" fill="#CCFFFF"/>
			<!-- Apparently, gradients cannot be imported from external files
			in all web browsers. -->
			<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse"
			x1="3182.4895" y1="638.0917" x2="3182.4895" y2="698.054"
			gradientTransform="matrix(-1 0 0 1 4723.9336 0)">
				<stop  offset="0" style="stop-color:#ACE93F"/>
				<stop  offset="1" style="stop-color:#55AF28"/>
			</linearGradient>
			<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse"
			x1="1314.7537" y1="675.8242" x2="1323.3101" y2="803.3672"
			gradientTransform="matrix(-1 0 0 1 3200.5742 0)">
				<stop  offset="0" style="stop-color:#ACE93F"/>
				<stop  offset="1" style="stop-color:#55AF28"/>
			</linearGradient>
			<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse"
			x1="1221.5895" y1="693.7682" x2="1224.7024" y2="771.9174">
				<stop  offset="0" style="stop-color:#ACE93F"/>
				<stop  offset="1" style="stop-color:#55AF28"/>
			</linearGradient>
			<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse"
			x1="620.076" y1="676.8528" x2="634.949" y2="820.9891">
				<stop  offset="0" style="stop-color:#ACE93F"/>
				<stop  offset="1" style="stop-color:#55AF28"/>
			</linearGradient>
			<linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse"
			x1="1473.5706" y1="691.7638" x2="1473.5706" y2="793.1318">
				<stop  offset="0" style="stop-color:#ACE93F"/>
				<stop  offset="1" style="stop-color:#55AF28"/>
			</linearGradient>
			<use x="0" y="10000" xlink:href="static/shapes.svg#hills"/>
			<use x="0" y="10000" xlink:href="static/shapes.svg#building"/>
			<use x="0" y="10000" xlink:href="static/shapes.svg#hunter-logo"/>
			<use id="platform" xlink:href="static/shapes.svg#platform"/>
			<use id="Z" xlink:href="static/shapes.svg#Z"/>
		</svg>
		<img id="logo" src="static/logo.png">
	</body>
	<script src="static/script.js"></script>
</html>
